@import '../../assets/style/index.scss';

.repeat__list {
    list-style: none;
    position: absolute;
    left: 0;
    top: 110%;
    background-color: #fff;
    border: 0.2px solid rgb(221, 220, 220);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    z-index: 1;
    padding: 0;
    overflow: hidden;
    font-size: 1.3rem;
    width: 100px;

    li {
        padding: 4px 8px;
        cursor: pointer;
    }

    li:hover {
        background-color: rgb(250, 250, 250);
    }
}