@import '../../assets/style/index.scss';

.job__add {
    margin-top: 8px;
    padding: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #777;
    font-size: 1.5rem;

    .btn {
        height: 20px;
        width: 20px;
    }

    .btn-add {
        padding: 0;
    }

    span {
        margin-left: 6px;
    }
}    

.job__add:hover {
    color: $primary-color;

    .btn-add {
        background: url(../../assets/images/add-active.svg) no-repeat center;
    }
}

@media (max-width: 740px) {
    .job__add {
        margin: 8px 18px;
    }
}
