@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/_variables";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;600;700;800&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700;900&display=swap');

$primary-color: #d75b39;
$hover-color: #eee;
$text-color: #333;
$border-color: #ddd;
$line-color: #e6e6e6;
$box-shadow-color: #c3c3c3;
$date-color: #058527;
$spacing: 12px;
$border-radius: 6px;
$button-icon-size: 24px;
$font-size-primary: 1.5rem;
$font-size-editor: 1.3rem;
$font-size-secondary: 1.1rem;

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growUp {
    0% {
        width: 0;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes appear {
    from {
       transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes slideToLeft {
    from {
        opacity: 0;
        transform: translateX(110%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideToRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(110%);
    }
}

// Global
html {
    font-size: 62.5%;
    color: $text-color;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

input {
    background-color: transparent;
    border-color: transparent;
    padding: 0;

    &:focus-visible {
        outline: none;
    }
}

button {
    border: none;
    background-color: transparent;
}


