.job__description {
    font-size: 1.2rem;
    font-weight: 300;
    color: #777;
    background-color: transparent;
    padding: 0;
    border: none;
}

.job__description.editor:focus {
    outline: none;
}

.job__description.hidden {
    display: none;
}