@import '../../assets/style/index.scss';

.job__name.editor {
    padding: 0 0 8px 10px;
    border: none;
}

.job__name.editor:focus {
    outline: none;
}

.job__name {
    border: none;
    background-color: transparent;
    color: $text-color;
    padding: 0;
    font-size: 1.5rem;
}