@import '../../assets/style/index.scss';

.btns {
    margin-bottom: 8px;

    button {
        padding: 4px 10px;
        border-radius: $border-radius;
        min-width: 60px;
        font-size: 1.5rem;
    }

    .btn-primary {
        color: #fff;
        border: none;
        background-color: $primary-color;
        margin-right: 8px;
    }
    
    .btn-primary:hover {
        opacity: 0.7;
    }
    
    .btn-primary:disabled {
        opacity: 0.5;
        background-color: $primary-color;
    }
    
    .btn-secondary {
        color: $text-color;
        border: none;
        background-color: $border-color;
    }

    .btn-secondary:hover {
        opacity: 0.7;
    }
}

@media (max-width: 740px) {
    .btns {
        margin: 0 20px;
    }
}

