@import '../../assets/style/index.scss';

.job__item {
    display: flex; 
    position: relative;
    margin: 8px 30px;
    padding: 8px 0;
    border-bottom: 0.2px solid rgb(221, 220, 220);

    .job__item-checkbox {
        margin-top: 3px;
        height: 18px;
        width: 18px;
    }

    .job__item-content {
        display: flex;
        flex-direction: column;
        margin-left: 6px;

        .job__item-info {
            display: block;
            padding-top: 2px;
            font-size: 1.2rem;
            font-weight: 300;
            }
        }
    }